@import 'variables'

h1, .title-1
  font-size $fontSizeXXL
  color #666
h2, .title-2
  color #666
  font-size $fontSizeXL
h3, .title-3
  color #666
  font-size $fontSizeL

p, .text-1
  font-size $fontSizeM
  color #888
.text-2
  font-size $fontSizeS
  color #888
.text-3
  font-size $fontSizeXS
  color #888
