@import 'variables'

.title-1
  font-size $fontSizeXXL
.title-2
  font-size $fontSizeXL
.title-3
  font-size $fontSizeL

.text-1
  font-size $fontSizeM
  color #888
.text-2
  font-size $fontSizeS
  color #888
.text-3
  font-size $fontSizeXS
  color #888
