
// Font sizes
$fontSizeXS = 8px;
$fontSizeS = 10px;
$fontSizeSM  = 12px;
$fontSizeM = 14px;
$fontSizeL = 17px;
$fontSizeXL = 30px;
$fontSizeXXL = 38px;

// Color
$grey = rgb(236, 236, 236);
$white = rgb(255,255,255);
$primaryColor = #108ee9;
$primaryTextColor = #666;
